@font-face {
  font-family: 'iconfont';
  /* project id 1564391 */
  src: url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.eot');
  src: url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.woff') format('woff'),
    url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1564391_8fulwnacvxc.svg#iconfont') format('svg');
}
