@font-face {
  font-family: 'iconfont';
  /* project id 1564391 */
  src: url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.eot');
  src: url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.woff') format('woff'),
    url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1564391_02vea78lxcl6.svg#iconfont') format('svg');
}
