@font-face {
  font-family: 'iconfont';
  /* project id 1564391 */
  src: url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.eot');
  src: url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1564391_z4xcxh037zp.svg#iconfont') format('svg');
}
